@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'League Spartan', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;  
}
h4{
    font-size: 20px;
    color: #222;  
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin:  15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}


#banner .normal{
font-size: 14px; 
font-weight:600 ;
padding: 15px 30px;
color: #000;
background-color: #fff;
border-radius: 4px;
cursor: pointer;
border: none;
outline: none;
transition: 0.2s;
}







body{
    width: 100%;
}

/* Header start */
/* #header{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 20px 80px;
    background:#E3E6F3;
    background: linear-gradient(to bottom, rgb(245, 241, 241), rgba(148, 118, 118, 0.5));
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

} */
#navbar{
  display: flex;  
  align-items: center;
  justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;

}
#navbar li a  {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active 
{
    color: #088178;
}
#navbar li a.active::after ,
#navbar li a:hover::after

{
    content: "";
    width: 30px;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left:20px

} 

#mobile{
    display: none;
    align-items: center;
}


/* Home Page Styling is her lets dow its  */

 #hero {
    /* background-image: url("Homeie.jpg"); */
    background-image: url("Hoooooo.jpg");

    background-image: linear-gradient(to bottom, rgb(202, 185, 185), rgba(148, 118, 118, 0.5)), url("mebackgroundho.jpg");

    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
 }

 #hero h4{
    padding-bottom: 15px;
 }

 #hero h1 {
    color: #088178;
 }
#hero button {
    background-image: url("Button img.png");
    background-image: url("B.jpg");
    background-image: url("B.jpg");
    /* background-image: url("Button img.png"); */

    /* background-color: transparent ; */
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    border-radius: 20px 60px;
    opacity: .97;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;

}




/* Designing feature boxes */
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px  rgba(0, 0, 0,0.0);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    transition: 0.2s ease;


}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62 , 221,0.1);

}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}


#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px ;
    line-height: 1;
    border-radius: 4px;
    color:  #146EB4;
    background-color:  #bebe99;

}
#feature .fe-box:nth-child(2) h6{
/* background-color: #92a8d1; */
background-color: #d9ecd0;
/* color: #034f84; */
color:  #3259cd;
}
#feature .fe-box:nth-child(3) h6{
background-color: #b9b0b0;
/* background-color: #b0aac0; */
/* color:  #3259cd; */
color:  #3b3a30;
}
#feature .fe-box:nth-child(4) h6{
background-color: #667292;
background-color: #87bdd8;
/* background-color: #b0aac0; */
/* color:  #3259cd; */
color:  #292F33;
}

#feature .fe-box:nth-child(5) h6{
background-color:#CCD6DD ;
color: #004883;
}
#feature .fe-box:nth-child(6) h6{
background-color:#146EB4 ;
color: #867d7d;
color: #F5F5F1;
}


/* Product section Designing Now  */
#product1{
    text-align: center;
}
#product1 .pro-container{
display: flex;
justify-content: space-between;
padding:  20px ;
flex-wrap: wrap;
}




#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0.06);

}
#product1 .pro img{
width: 100%;
border-radius: 20px;

}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #3b3a30;
    font-size: 12px;
}
#product1 .pro .des h5{
  padding: 7px;  
  color: #1a1a1a;
  font-size: 14px;

}
#product1 .pro .des .star i{
font-size: 12px;
color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
padding-top: 7px;
font-size: 15px;
font-weight: 700;
color: #088178;
}
#product1 .pro .des a{
width: 30px;
height: 30px;
line-height: 30x;
border-radius: 50px;
background-color: #e8f6ea;
font-weight:500;
color: #088178;
border: 1px solid #cce7d0;
position: absolute;
bottom: 20px;
right: 10px;
align-items: center;
justify-content: center;
padding: 4px;
}


/* Banner Desgining Now  */
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url("Ecommerce.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}
#banner h4{
    color: #fff;
    font-size: 20px;
}
#banner h2{
    color: #fff;
    font-size: 40px;
    padding: 10px 0;
}
#banner h2 span{
    color: rgb(173, 20, 20);
}

#banner .normal{
    font-size: 14px; 
    font-weight:600 ;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#banner button:hover{
    background: #088178;
    color: #fff;
}
    

/* Now Banner Small IS designing further  */
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    background-image: url("bannnerrr.jpg");
    background-image: url("Ban.jpg");
    background-image: url("Hoooooo.jpg");

    min-width: 48%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    /* padding-top: 80px; */
}
#sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    background-image: url("SMbanner.jpg");
    background-image: url("bannnerrr.jpg");
    background-image: url("Homeeeeeeees.jpg");

    min-width: 48%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 10px;
    padding-top: 80px;
}
#sm-banner h4{
color: rgba(0, 0, 0, 0.658);
font-size: 20px;
font-weight: 400;
}
#sm-banner h2{
color: rgba(0, 0, 0, 0.658);
font-size: 28px;
font-weight: 900;
} 
#sm-banner span{
color: rgba(0, 0, 0, 0.858);
font-size: 14px;
font-weight: 700;
padding: 10px;
} 




#sm-banner .white{
    font-size: 13px; 
    font-weight:700 ;
    padding: 11px 18px;
    color: rgba(0, 0, 0, 0.758);
    background-color:transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
    /* border-radius: 20px 30px; */
    /* background: url("btn.jpg"); */
    }
#sm-banner .banner-box:hover button{
  /* background: url("btn.jpg"); */
  opacity: 1000;
  color: #000;
    }


    /* LAst futherr banner is designing now  */
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}


    #banner3 .banner-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: flex-start;
        background-image: url("sale1.png");
    
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
        /* padding-top: 80px; */
    }
     #banner3 .banner-box2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: flex-start;
        background-image: url("sale1.png");
    
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
        background-image: url("sale3.jpg");

    } 
    #banner3 .banner-box3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: flex-start;
        background-image: url("sale1.png");
    
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
        background-image: url("sale1.png");
    } 



    #banner3 h2{
        color: rgb(44, 24, 24);
        font-weight: 900;
        font-size: 22px;

    }
    #banner3 h3{
        color: #ec544e;
        font-weight: 800;
        font-size: 15px;

    }

/* newsletter now stylisng and desigining */
#newsletter{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
    align-items: center;
    background-image: url("Digital.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    /* background-color: #041e42; */
}
#newsletter h4{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
   color: #ffbd27;
}
#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px ;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
#newsletter button {
    font-size: 14px; 
font-weight:600 ;
padding: 15px 30px;
color: #fff;
background-color: #278f88;
white-space: nowrap;
border-radius: 4px;
cursor: pointer;
border: none;
outline: none;
transition: 0.2s;
border-top-left-radius: 0;
border-bottom-left-radius: 0;

}

/* fotter section now finally designinig  */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom: 20px;
}
footer .logo {
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;

}
footer a{
    font-size: 13px;
    text-decoration: none;
     color: #222; 
    margin: bottom 10px ;

}
footer .follow{
    margin-top: 20px;

}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;

}

/* footer .install .row img{
border: 1px solid #088178;
 border-radius: 6px;
} */

footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover ,
footer a:hover
{
    color: #088178;
}

footer .copyright{
     width: 100%;
     text-align: center;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(122, 99, 99) ;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: cursive;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   .navbar {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    /* background-color: teal; */
    background: linear-gradient(to bottom, rgb(245, 241, 241), rgba(148, 118, 118, 0.5));
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.06);
    
    /* color: #fff; */
    color: #1a1a1a;
 top: 0;
 left: 0;
    position: sticky;
    font-weight: 600;
    z-index: 999;

    

   }


   .navbar li a.active::after ,
   .navbar li a:hover::after
   
   {
       content: "";
       width: 30px;
       height: 2px;
       background: #088178;
       position: absolute;
       bottom: -4px;
       left:20px
   
   } 


   .nav-links a {
    color: #fff;
    color: #1a1a1a;

   }
   /* LOGO */
   /* .logo {
    font-size: 40px;
   } */
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
    position: sticky;
   }
   .dropdown {
    background-color: rgb(1, 139, 139);
    background: linear-gradient(to bottom, rgb(245, 241, 241), rgba(148, 118, 118, 0.5));
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
    background: linear-gradient(to bottom, rgb(245, 241, 241), rgba(148, 118, 118, 0.5));
   }
   .services:hover .dropdown {
    display: block;
   }
   input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
    .navbar{
        position: fixed;
     width: 79vh; 
     height: 100px;

    }
   .menu { 
    display:none;
    position: absolute;
    /* background-color:teal; */
    background: linear-gradient(to bottom, rgb(245, 241, 241), rgba(148, 118, 118, 0.5));
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   }
   @media (max-width: 400px) {
    .navbar{
        position: fixed;
        width: 53vh; 
        height: 100px;
    }
   }

   @media (max-width:412px) {
    .navbar{
        position: fixed;
        width: 53vh; 
        height: 100px;
    }
    .navbar {
    padding: 0 0;
    }
    .nav-links{
        padding: 0 90px;
    }
    
}

/* MEdia query Designing Now  */
@media (max-width:799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }
#navbar .active{
    right: 0px;
}
    #navbar li {
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
        color: #1a1a1a;
        gap: 20px;


    }
    #moblie a {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px;
    }
    #product1 .pro-container{
        justify-content: center;
    }
    #product1 .pro{
        margin: 15px;
    }
    #banner {
        height: 20vh;
    }
    #sm-banner .banner-box{
        min-width: 100% ;
        height: 30vh;
    }
    #banner3 {
        display: flex;
        justify-content: space-between;
        /* flex-wrap: wrap; */
        flex-wrap: nowrap;
        padding: 0 80px;
        gap: 10px;
        /* opacity: .7; */
    }
    #banner3 h2{
        font-size: 20px;
        line-height: 20px;
        opacity: 1;
    }
    #banner3 h3{
        opacity: 1;
        color: #1a1a1a;
    }





    /* #banner3{
         padding: 0 40px;
         gap: 10px;

    } */
    #banner3 .banner-box{
        min-width: 28%;
        background: url("ban3.jpg");
        /* background-position: center; */
        background-repeat: no-repeat;
        /* max-height:100% ; */
    }
    #banner3 .banner-box2{
        min-width: 28%;
        background-position: center;
        background-repeat: no-repeat;
    }
    #banner3 .banner-box3{
        min-width: 28%;
    }

    #newsletter .form{

        width: 70%;
    }
#newsletter .form{
     width: 70%;
}


}

@media (max-width: 477px){
    .section-p1{
        padding: 20px;
    }
    #header{
        padding: 10px 30px;
    }
    .logo{

    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    #feature
    {
        justify-content: space-between;
    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro{
        width: 100%;
        
    }
    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box{
        height: 40vh;
    }
    
    #sm-banner .banner-box2{
     margin-top: 20px;
    }
    #banner3{
        padding: 0 20px;
    }
    #banner3 .banner-box{
        width: 100%;
        flex-wrap: wrap;
    }
    #banner3 .banner-box2{
        width: 100%;
        flex-wrap: wrap;
    }
    #banner3 .banner-box3{
        width: 100%;
        flex-wrap: wrap;
    }

    #banner3 {
        display: flex;
        justify-content: space-between;
         flex-wrap: wrap; 
        padding: 0 80px;
        gap: 10px;
    }
    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form{
        width: 100%;
    }
    footer .copyright{
        text-align: start;
    }
}